@media screen and (min-width: 884px) and (max-device-width: 1440px) {
    .container {
        width: 59%;
        height: 620px;
    }
}@media screen and (min-width: 550px) and (max-device-width: 883px){
    .container {
        width: 75%;
        height: 600px;
    }
    .wrapper-images {
        width: 50%;
        background: url('images/bg-pattern-desktop.svg');
        background-size: 300px;
        width:300px;
        height: 300px;
    }
    .image-woman img {
        width: 250px;
        height: 250px;
       
    }
    .image-box img {
        margin-top: 100px;
        margin-left: -480px;
        z-index: 1;
        
    }
}@media screen and (min-width: 375px) and (max-device-width: 549px) {
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 80%;
        height: 610px;
    }
    .wrapper-images{
        display: flex;
        flex-direction: column;
        text-align: center;
        background: url('images/bg-pattern-mobile.svg');
        background-size: 200px;
        width:200px;
        height: 200px;
        background-repeat: no-repeat;
    
    }
    .image-woman{
        position: relative;
        margin-left: -55px;
        width: 100%;
        margin-top: -150px;
        
    }
    .image-woman img {
        /* position: absolute; */
        width: 150px;
        height: 180px;
        
        
    }
    .image-box {
        width:50px;
        height: 100px;
        margin-top: -10px;
        
    }
    .image-box img {
        width:100px;
        height: 100px;
        margin-top: -75px;
        margin-left: -120px;
        z-index: 1;
        
    }
    .wrapper-questions{
        display: flex;
        flex-direction: column;
        width:100%;
        margin-top:-2px;
        text-align: center;
        justify-content: center;
    }
#question{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}
h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}


}